{% extends "AppAnime/paginas.html" %}
{% load static %}
{% block titulo %}
<h1>ACERCA DE MI</h1> 
<h2>Mi nombre es Jorge Garnica, creador de este proyecto. Tengo más de 40 años y creo firmemente en que 
    no hay edad para dejar de aprender. Me embarqué en este viaje después de varios meses de meditarlo. 
    Probando cursos online los cuales me motivaron a anotarme finalmente en CODERHOUSE y que además me 
    ayudaron en toda la primera etapa de PYTHON hecho y derecho. 
    Respecto a la idea del proyecto final, utilicé el tema del anime porque es algo que llevo casi en la
    sangre. Como lo dije en el inicio, crecí y vivo actualmente inmerso en este mundo que no para de crecer.
    Espero les guste!!</h2>

{% endblock %}

{% block contenido %} 

{% endblock %}