{% extends "AppAnime/paginas.html" %}
{% load static %}
{% block titulo %}
<h1>Mundo Anime</h1> 
<h2>Esta sección está dedicada al anime en formato series</h2>

<div class="container">
    <a class="navbar-brand" href="#!">QUIERES SER PARTE? AGREGA UNA SERIE ANIME!!</a>
    <a class="btn btn-primary" href="/nuevoAnime/">AGREGAR</a>
</div>
<div class="container">
    <a class="btn btn-primary" href="/buscarAnime/">BUSCAR</a>
    <a class="navbar-brand" href="#!">BUSCAS ALGO EN PARTICULAR? BUSCA POR NOMBRE!!</a>

</div>


{% endblock %}