
{% extends "AppAnime/paginas.html" %}
{% load static %}
{% block title %} Buscar Anime {% endblock %}
{% block titulo %}
<h1>Buscador de Animes</h1> 
<form action="/resultados/" method="get" >
Buscar por nombre: <input type="text" name="nombre">
<input type="submit" value="Buscar">
</form>
<br>
{% for x in animes %}
<li><ul>
<p>Nombre original: {{x.nombre}} // Traducción: {{x.traduccion}} // Primera emisión: {{x.año}} // Creador: {{x.creador}} // Capítulos: {{x.caps}}</p>
</ul></li>
{% endfor %}
{% endblock %}

{% block fondo %} 
<style>
    header.masthead {
        background-image: url("../static/AppAnime/assets/img/buscar.jpg");
    }
</style>
{% endblock %}