{% extends "AppAnime/paginas.html" %}
{% load static %}
{% block titulo %}
<h1>DATOS DE CONTACTO</h1> <br>
<h2>JORGE GARNICA
    <br><br>
    TELÉFONO: +54 9 11 5041 5757
    <br><br>
    EMAIL: garnica.jorgem@gmail.com
    <br><br>
    Pueden seguirme en mis redes sociales utilizando los links que se encuentran aquí abajo!!
    <br>
    ----------------------------------------------------------------------------------------- <br>
                                                                                             | <br>
                                                                                             V  <br>
                                                                                             V <br>
                                                                                             V 
</h2>

{% endblock %}

{% block contenido %} 

{% endblock %}