<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PreEntrega 3 Garnica, Jorge</title>
</head>
<body>
    <h1>Aquí puedes agregar una nueva serie Anime</h1>
    <form action="/nuevoAnime/" method="post"> {% csrf_token %}
    <p>Nombre: <input type="text" name="nombre"></p>
    <p>Traducción: <input type="text" name="traduccion"></p>
    <p>Año: <input type="number" name="year"></p>
    <p>Capítulos: <input type="number" name="caps"></p>
    <p>Creador: <input type="text" name="creador"></p>
    <p>Sitio: <input type="text" name="site"></p>

    <input type="submit" value="Guardar">
 
</form>
</body>
</html>