<!DOCTYPE html>
<html lang="spa - es">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Proyecto Anime / GARNICA, Jorge</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'AppAnime/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-light bg-light fixed-top">
            <div class="container">
                <a class="btn btn-secondary" href="{% url 'Inicio' %}">Mi proyecto</a>
                <a class="btn btn-secondary" href="{% url 'Animes' %}">Animes</a>
                <a class="btn btn-secondary" href="{% url 'Peliculas' %}">Películas</a>
                <a class="btn btn-secondary" href="{% url 'Juegos' %}">Juegos</a>
                {% if user.is_authenticated and user.is_staff %}
                <h5>Hola {{user.first_name}}</h5>
                <img src="{{user.avatarimagen_set.last.imagen.url}}" alt="" width="50" height="50">
                <a class="btn btn-success" href="/logout/">CERRAR SESION</a>
                <a class="btn btn-success" href="/edit/">EDITAR PERFIL</a>
                <a class="btn btn-primary" href="/admin/">ADMIN</a>
                {% elif user.is_authenticated %}
                <h5>Hola {{user.first_name}}</h5>
                <img src="{{user.avatarimagen_set.last.imagen.url}}" alt="" width="50" height="50">
                <a class="btn btn-success" href="/logout/">CERRAR SESION</a>
                <a class="btn btn-success" href="/edit/">EDITAR PERFIL</a>
                {% else %}
                <a class="btn btn-success" href="/login/">INICIAR SESION</a>
                <a class="btn btn-success" href="/signup/">REGISTRARSE</a>
                {% endif %}
                
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">{% block welcome %} {% endblock %}
                            <!-- Page heading-->
                            <h1 class="mb-5">{% block titulo %} {% endblock %}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Icons Grid-->
        <section class="features-icons bg-light text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="bi-window m-auto text-primary"></i></div>
                            <h3>Vistas por temas</h3>
                            <p class="lead mb-0">El proyecto está organizado por el tema de interés.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="bi-layers m-auto text-primary"></i></div>
                            <h3>Bases de datos</h3>
                            <p class="lead mb-0">Cada tema tiene su propia base de datos específica.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="bi-terminal m-auto text-primary"></i></div>
                            <h3>Fácil de usar</h3>
                            <p class="lead mb-0">El uso de la base de datos está en un formato sencillo para facilitar su interacción.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Image Showcases-->
        <section class="showcase">
            <div class="container-fluid p-0">
                <div class="row g-0">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('static/AppAnime/assets/img/inicio.webp')"></div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                        <h2>TODO EL MUNDO DEL ANIME</h2>
                        <p class="lead mb-0">Aquí podrás encontrar toda la info del mundo anime en formato series. Desde su año de emisión, creadores, hasta dónde poder verlas hoy en día!!!</p>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-lg-6 text-white showcase-img" style="background-image: url('static/AppAnime/assets/img/movieBanner.avif')"></div>
                    <div class="col-lg-6 my-auto showcase-text">
                        <h2>PELICULAS Y OVA'S</h2>
                        <p class="lead mb-0">Toda la info de las películas basadas en el mundo del manga y el anime la podrás encontrar aquí. Nombre, año, dónde verla y mucha info más!!!!</p>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('static/AppAnime/assets/img/gaming.avif')"></div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                        <h2>MUNDO GAMER</h2>
                        <p class="lead mb-0">Amante del mundo anime y de los videojuegos? Este es tu lugar ideal!!! Aquí encontrarás todos los juegos relacionados, con sus respectivas plataformas donde poder disfrutarlos!!!</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Testimonials-->
        <section class="testimonials text-center bg-light">
            <div class="container">
                <h2 class="mb-5">CREADOR DEL PROYECTO</h2>
                <div class="row">
                    <div class="justify-content-center">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="static\AppAnime\assets/img/creador.jpeg" alt="..." />
                            <h5>Jorge Garnica</h5>
                            <p class="font-weight-light mb-0">"Amante de todo ésto, crecí con los Supercampeones y Dragon Ball"</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="footer bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item"><a href="/acerca/">Acerca de</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="/contacto/">Contacto</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="/terminos/">Terminos de uso</a></li>
                        </ul>
                        <p class="text-muted small mb-4 mb-lg-0">&copy; Projecto Django 2024. Todos los derecho reservados a nombre de Jorge Garnica.</p>
                    </div>
                    <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item me-4">
                                <a href="https://www.linkedin.com/in/jorge-marcelo-garnica-14a7925a/"><i class="bi-linkedin fs-3"></i></a>
                            </li>
                            <li class="list-inline-item me-4">
                                <a href="https://www.facebook.com/jorge.garnica1?mibextid=eHce3h"><i class="bi-facebook fs-3"></i></a>
                            </li>
                            <li class="list-inline-item me-4">
                                <a href="https://x.com/hyuga_9?t=LhLwX6_H8JwEiQHk7ZktCA&s=08!"><i class="bi-twitter fs-3"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.instagram.com/k_hyuga_9?igsh=ODZ0YTNraWxuanZl"><i class="bi-instagram fs-3"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
