{% extends "AppAnime/paginas.html" %}
{% load static %}
{% block title %} Editar Usuario  {% endblock %}
{% block titulo %}
<h1>EDITAR DATOS DEL USUARIO</h1> 
<h1>-----------------</h1>
<h2>Aquí puedes actualizar tus datos del registro</h2>
<br>

<form action="" method="POST"> {% csrf_token %}
{{formu.as_p}}
<input type="submit" value="actualizar">
</form>

{% endblock %}
{% block contenido %}

{% endblock %}

{% block fondo %} 
<style>
    header.masthead {
        background-image: url("../static/AppAnime/assets/img/forms.avif");
    }
</style>
{% endblock %}