{% extends "AppAnime/paginas.html" %}
{% load static %}
{% block title %} Signup {% endblock %}

{% block titulo %}
<h1>Crear usuario</h1>
<h1>-----------------</h1>
<h2>Ingrese tus datos</h2>
<br>
<h3>
<form action="" method="POST"> {% csrf_token %}
{{formu.as_p}}
<input type="submit" value="Registrarse">
</form>
</h3>
{% endblock %}
{% block contenido %}

{% endblock %}

{% block fondo %} 
<style>
    header.masthead {
        background-image: url("../static/AppAnime/assets/img/forms.avif"); background-size:cover ;
    }
</style>
{% endblock %}